/* 
Reset
*/
    /* Add CSS variables */
    :root{
        --height-header: 8rem;
        --height-footer: 5rem;

        --width-main: calc( 75% - 2rem );
        --width-aside: calc( 25% - 2rem );
        --width-article: calc( 50% - 1rem );
    }

    /* Select all markup */
    *{
        /* Set box-sizing */
        box-sizing: border-box;

        /* Clear all marge/padding */
        margin: 0rem;
        padding: 0rem;
    }

    /* Set 1rem to 10px */
    html{
        font-size: 62.5%; /* 16px / 100 * 62.5 */
    }

    body{
        font-size: 1.6rem;
    }

    a{
        color: inherit;
    }

    /* Delete decoration for A markup without target="_blank" */
    a:not([target="_blank"]){
        text-decoration: none;
    }
/**/

/* 
Body
*/
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
/**/


/* 
Header/Footer
*/
    header, footer{
        color: white;
        background-color: black;
        padding: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }
/**/

/* 
Header
*/
    header{
        /* Use CSS variable */
        height: var(--height-header);
    }

    h1 span{
        display: block;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 0.5em;
    }

    #burger-icon{
        font-size: 2rem;
        border: none;
        line-height: 1;
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 1;
    }

    nav ul{
        position: fixed;
        top: 0rem;
        right: 0rem;
        width: 100vw;
        height: 100vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 3rem;

        display: none;
    }

    nav ul.open{
        display: flex;
    }
/**/

/* 
Main
*/
    main, aside{
        padding: 2rem 1rem;
    }

    body > .container-flex{
        height: calc( 100vh - ( var(--height-header) + var(--height-footer) ) );
        overflow: auto;
    }

    aside{
        display: none;
    }
/**/

/* 
Footer
*/ 
    footer{
        height: var(--height-footer);
    }

    header div, footer p{
        margin: auto;
        width: 100%;
    }
/**/

/* 
Media queries
*/
    /* Small devices (landscape phones, 576px and up) */
    @media screen and (min-width: 576px) {
        /* Display ASIDE on the right of MAIN */
        aside{
            display: initial;
            width: calc( 20% - 2rem );
        }

        body > .container-flex{
            display: flex;
            justify-content: space-between;
        }

        main{
            width: calc( 80% - 2rem );
        }
    }

    /* Medium devices (tablets, 768px and up) */
    @media screen and (min-width: 768px) {
        /* Put aside on le left of main */
        body > .container-flex{
            flex-direction: row-reverse;
        }
        /* aside{ order: 0 }
        main{ order: 1 } */

        #burger-icon{
            display: none;
        }

        nav ul{
            display: flex;
        }

        /* All links are on one line */
        nav li{
            display: inline-block;
            margin-right: 1rem;
            font-size: 1.4rem;
        }

        /* Lock child markup in parent markup */
        nav ul{
            margin-top: 0.5rem;
            position: relative;
            display: block;
            position: relative;
            width: auto;
            height: auto;
            text-align: left;
            background-color: transparent;
            font-size: inherit;
        }

        nav li:last-child{
            position: absolute;
            right: 0rem;
            margin-right: 0rem;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        /* Put the articles in 2 columns */
        section .container-flex{
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }

        section .container-flex article{
            width: calc( 50% - 2rem );
        }
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        /* Change body color */
        body{
            color: grey;
        }
    }
    
    /* Limit diplay on print media */
    @media print {
        header, footer{
            display: none;
        }
    }
/**/