body{ padding: 4rem; }

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: red;
    border: 0.1rem solid red;
}

#section-user-list,
#section-user-info,
#section-album-info,
#section-photo{
    display: none;
}

#section-user-list.open,
#section-user-info.open,
#section-album-info.open,
#section-photo.open{
    display: block;
}

p{
    margin: 0;
}

body{
    --item-width: 100%;
    --container-display: block;
}

@media screen and (min-width:500px) {
    body{
        --item-width: calc( 50% - 1rem );
        --container-display: flex;
    }
}


@media screen and (min-width:600px) {
    body{
        --item-width: calc( 33.333% - 1rem )
    }
}

@media screen and (min-width:800px) {
    body{
        --item-width: calc( 25% - 1rem )
    }
}

@media screen and (min-width:1000px) {
    body{
        --item-width: calc( 20% - 1rem )
    }
}

p:first-of-type{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: -0.7rem;
}

p:last-of-type{
    margin-bottom: 1rem;
}

a{
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
}

button{
    margin-top: 1rem;
}

ul{
    display: var(--container-display);
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    width: var(--item-width);
    border: 0.1rem dotted grey;
    padding: 1rem;
    margin-bottom: 1rem;
}